[user]
	name = Mark Stillwell
	email = marklee@fortawesome.org
	signby = mark@stillwell.me

[web]
	browser = /usr/bin/firefox
[github]
	user = marklee77
[color]
	ui = auto
[core]
	editor = vim
[gcrypt]
	participants = 9A0DF8BB9A556F97CF2C61BB614CC78883ACB9EA
